# ==================== #
# Unity 生成的文件忽略 #
# ==================== #

# Android应用包文件
*.apk
# Android App Bundle文件
*.aab
# Unity项目文件
*.unityproj
# 动态链接库文件
*.dll
# Windows元数据文件
*.winmd
# Visual Studio解决方案文件
*.sln
# Visual Studio用户选项文件
*.suo
# 用户偏好设置文件
*.userprefs
# MonoDevelop项目信息数据库
*.pidb
# Boo项目文件
*.booproj
# 备份文件
*.bak
# 临时文件
*.tmp
# Vim交换文件
*.swp
# Vim多文件交换文件头文件
*.swm
# Vim多文件交换文件尾文件
*.swn
# Vim老的交换文件
*.swo
# Vim交换文件
*.swp
# Visual Studio用户设置文件
*.user
# 锁定的json文件
*.lock.json
# 备份文件
*.bak
# Unity的元文件
*.pidb.meta
# Unity的元文件
*.pdb.meta
# Unity的元文件
*.mdb.meta
# 程序调试数据库
*.pdb
# 微软访问数据库
*.mdb
# 开放数据库
*.opendb
# VC数据库
*.VC.db
# 系统信息文本
sysinfo.txt
# Crashlytics构建属性
crashlytics-build.properties

# 临时文件夹
[Tt]emp/
# 对象文件夹
[Oo]bj/
# Unity库文件夹
[Ll]ibrary/
# 构建文件夹
[Bb]uild/
# 构建文件夹
[Bb]uilds/
# 日志文件夹
[Ll]ogs/
# 内存捕获文件夹
[Mm]emoryCaptures/
# 用户设置文件夹
[Uu]ser[Ss]ettings/
# 打包地址资源
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
# 流动资产元文件
[Aa]ssets/[Ss]treamingAssets/aa.meta
# 流动资产
[Aa]ssets/[Ss]treamingAssets/aa/*
# 导出对象文件夹
ExportedObj/
# Visual Studio文件夹
.vs/
# Gradle文件夹
.gradle/
# Consulo文件夹
.consulo/
# JetBrains插件文件夹
[Aa]ssets/Plugins/Editor/JetBrains*

# ============================ #
# Visual Studio / Rider 忽略规则 #
# ============================ #
# 对象文件
/*.[Oo]bj
# JetBrains Rider项目配置文件
/.idea/

# ================== #
# 系统生成的文件忽略 #
# ================== #
# macOS文件夹设置
.DS_Store
# macOS文件夹设置
.DS_Store?
# macOS资源分叉
._*
# macOS Spotlight索引
.Spotlight-V100
# macOS回收站
.Trashes
# Windows缩略图缓存
ehthumbs.db
# Windows缩略图缓存
Thumbs.db

# ================= #
# Unity 包文件忽略#
# ================= #
# 通常最好是解包这些文件并提交到版本控制中，但如果仓库所有者更愿意通过项目清单使特定版本的包可用，可以忽略它们。
# Unity包文件
# /[Aa]ssets/.../[Pp]ackages/

# ======================================= #
# Visual Studio Code / JetBrains Rider 忽略规则 #
# ======================================= #
# Visual Studio Code配置文件夹
.vscode/
# JetBrains Rider项目配置文件夹
*.idea/

# ========================= #
# Xcode 忽略规则#
# ========================= #
# Xcode编译的中间文件
DerivedData/
# Header map文件
*.hmap
# iOS App Store包
*.ipa
# Xcode用户状态
*.xcuserstate

# =================================== #
# Github Unity默认的忽略规则#
# =================================== #
# 录音文件夹
/[Rr]ecordings/

# 如需忽略Asset Store工具插件，取消以下行的注释
# /[Aa]ssets/AssetStoreTools*

